# --- Core Django  s---
Django
djangorestframework
django-cors-headers
django-extensions
dj-database-url
python-decouple
python-dotenv
psycopg2-binary
PyJWT

# --- AI & Vector Search ---
sentence-transformers
numpy
pandas
scikit-learn
joblib

# --- LLM Clients ---
google-generativeai
google-api-python-client
google-auth
openai

# --- Utilities ---
requests
urllib3
Pillow
markdown
colorama
tqdm
bleach


# --- Deployment Related Dependencies --- 

gunicorn
whitenoise
dj-database-url

psycopg2-binary


#EMAILER
sib-api-v3-sdk-7.6.0